.headerclass {
    text-align: center; 
    background: linear-gradient(135deg, #172a74, #21a9af);
    background-color: #184e8e;
    color: white;
    height: 50px;
    font-weight: bolder;
    font-size: x-large;
}